h1
{
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

body
{
    background-color: rgb(63, 63, 113);
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/source/77f83260879201.5a5cb3fe6c5bb.jpg');
    width: 100%;
    height: auto;
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(41, 63, 125);
}

.item
{
    background-color: rgb(147, 233, 164);
    color: rgb(17, 17, 123);
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.container2
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(41, 63, 125);
}

.item2
{
    background-color: rgb(140, 189, 220);
    color: rgb(17, 17, 123);
    padding: 20px;
    text-align: center;
    font-size: 16px;
}